{
  "presets": [
    [
      "@babel/env",
      {
        "targets": { "node": 8 }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul", "rewire"]
    }
  }
}
