{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "prettier",
    "prettier/standard"
  ],
  "plugins": [
    "prettier",
    "standard"
  ],
  "env": {
    "node": true,
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5"
    }]
  }
}
